*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('https://media.istockphoto.com/id/1129473522/photo/colorful-panoramic-mountain-view-at-sunrise.webp?b=1&s=170667a&w=0&k=20&c=t3cYkOCQJNIm_pmcxkZgJH7A7uWD4flhlAMp5dLEIdQ=');
    background-size: 100%;
    background-repeat: no-repeat;
}

.box-card{
    background: rgba(38, 25, 25, 0.5);
    height: 450px;
    border-radius: 15px;
}
.container{
    margin-top:  10vh;
}

.graf{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form{
    margin: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inp{
    width: 79%;
    padding: 0px 5px 0px 10px;
    /* padding: 10px 25px; */
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    height: 45px;
    background-color: rgba(197, 188, 188, 0.5);
    border: none;
    color: white;
}

.inp:hover{
    width: 79%;
    padding: 0px 5px 0px 10px;
    /* padding: 10px 25px; */
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    height: 45px;
    background-color: rgba(248, 237, 237, 0.5);
    border: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.btn_for_ipn{
    width: 20%;
    border-radius: 5px;
    height: 45px;
    background-color: rgba(36, 48, 57, 0.5);
    color: #f1f1f1;
    text-transform: capitalize;
    border: none;
    
}


/* bacround video */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .box-card {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    /* padding: 20px; */
    z-index: 10;
    top: 100px;
  }


  @media (max-width:576px) {
    form{
        margin: 50px 1px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box-card {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        /* padding: 20px; */
        z-index: 10;
        top: 100px;
        height: 350px;
      }
      body{
        background: url('https://media.istockphoto.com/id/1129473522/photo/colorful-panoramic-mountain-view-at-sunrise.webp?b=1&s=170667a&w=0&k=20&c=t3cYkOCQJNIm_pmcxkZgJH7A7uWD4flhlAMp5dLEIdQ=');
        background-size: 150vh;
        background-repeat: no-repeat;
    }
      
  }
